.header-container {
  width: 100vw; 
  height: 15vh;
  background-color: #00629B;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header-button {
  width: 18vw; 
  height: 7vh;
  font-size: 18px;
  font-family: 'Proxima Nova', sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  top: 30px;
  cursor: pointer;
  position: absolute;
}

#btn1 {
  right: 10vw;
}

#btn2 {
  right: 30vw;
}

button:hover {
  background-color: #0056b3;
}
