.formulario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Proxima Nova', sans-serif;
}

.campos {
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #0000002f;
    border: 1px solid rgba(0, 0, 0, 0.189);
    border-radius: 4px;
    height: 5.5vh;
    font-size: 18px;
    padding-left: 2vw;
}

.formulario-campos-lado-a-lado {
    display: flex;
    gap: 17px;
}

.formulario-campos-tip-pro {
    display: flex;
    margin-bottom: 2vh;
}

.formulario-campos-hora-data {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 0.3vw;
}

.formulario-section1 {
    margin-left: 8%;
    margin-bottom: 5vh;
    height: 10vh;
}

.formulario-campo1 input {
    width: 25vw;
    display: flex;
}

.formulario-profissional {
    font-weight: 700;
    margin-left: 8%;
    margin-bottom: 3vh;
}

#profissional {
    width: 84vw;
    border-radius: 4px;
    height: 5.5vh;
}

.formulario-campo2 input {
    width: 39.1vw;
    border-radius: 4px;
    height: 5.5vh;
}

.formulario-campo2 select {
    border-radius: 4px;
    height: 5.5vh;
}

/* Estilos para o contêiner do formulário de baixo */
.formulario-campo2 {
    height: 10vh;

}

.formulario-campo3 {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 41vw;
    margin-left: 0.4vw;
}

.formulario-campo4 {
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-left: 2.2vw;
    width: 41.2vw;

}

.select-com {
    box-shadow: 2px 2px 5px #0000002f;
}


/* Estilos para a seção 2 do formulário */
.formulario-section2 {
    margin-left: 8%;
}

/* Estilos do botão "Enviar" */
.buttonEnviar {
    text-align: center;
    font-weight: 700;
    width: 7vw;
    height: 5.5vh;
    background-color: #00629B;
    color: #ffffff;
    border: 1px solid #00629B;
    border-radius: 12px;
    margin-left: 83vw;
    margin-top: 3vh;
    margin-bottom: 8vh;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000031;
}

.buttonEnviar:hover {
    background-color: #0056b3;
    color: #fff;
}

.successMessage {
    background-color: #4caf50;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 82vw;
    margin-left: 8%;
    border-radius: 12px;
    font-weight: 100;
}

.atencaoMessage {
    background-color: #FFD6B0;
    color: #333333;
    text-align: center;
    padding: 20px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 82vw;
    margin-left: 8%;
    border-radius: 12px;
    font-weight: 100;
}